# Dependencies
node_modules/
uploads/

# Build output
build/
dist/

# Environment files
.env
.env.local
.env.*.local

docker-compose.override.yaml
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Test coverage
coverage/

# Temporary files
tmp/
temp/
*.tmp

# Docker
.docker/

# OS files
Thumbs.db
